.card_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background-color: rgb(24, 24, 24);
    border: 5px solid rgb(24, 24, 24);
    transition: border 0.1s ease-in-out;
    border-radius: 5px;
    border-bottom: rgb(24, 24, 24);
    transition: scale 0.2s ease-in-out;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.card_container:hover {
    transition: scale 0.2s ease-in-out;
    scale: 1.05;
    cursor: pointer;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
}

.game_image {
    max-width: 100%;
    height: 500px;
    max-height: 60%;
    border-radius: 5px;
    border-bottom: 5px solid rgb(24, 24, 24);
    object-fit: cover;
}

.card_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:100%;
    color: white;
    transition: border 0.1s ease-in-out;
    border-radius: 5px;
}

.game_name {
    font-size: 1.3rem;
    margin-top: 1rem;
    text-align: center;
    text-shadow: 0 0 2px white;
    transition: border 0.1s ease-in-out;
}

.card_genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 50px;
    bottom: 0;
    color: rgb(192, 192, 192);
    border-radius: 5px;
    transition: border 0.1s ease-in-out;
    margin-bottom: 1rem;
    font-size: 0.80rem;
    background-color: rgb(43, 43, 43);
}

.link_GC {
    text-decoration: none;
    outline: none;
    color: white;
}

.card_genres p {
    margin-left: 0.5rem;
}

.card_description_upper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 0 2px white;
    transition: border 0.1s ease-in-out;
}

.card_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1.5rem;
    text-shadow: 0 0 2px white;
    transition: border 0.1s ease-in-out;
}

.card_button {
    margin-top: 15px;
}

.delete_button {
    width: 35px;
    height: 35px;
    color: white;
    border: 1px solid rgb(250, 50, 50);
    border-radius: 3px;
    background-color: rgba(253, 51, 51, 0.5);  
    font-size: 1.5rem;
    text-shadow: 0 0 2px white;
    transition: transform 0.2s ease-in-out;
    margin-right: 0.5rem;
    cursor: pointer;
    transform: scale(1)
}

.delete_button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(255, 0, 0, 0.5);
    color: white;
    transform: scale(1.1);
}

.rating_like {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}