.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(31, 31, 31);
    width: 100%;
    height: 100vh;
}

.game_detail_container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(31, 31, 31);
}

.details_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 80%;
    min-width: 1000px;
    height: auto;
    border: 3px solid rgb(39, 39, 39);
    border-radius: 5px;
    background-color: rgb(22, 22, 22);
}

.details_upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.details_lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.details_lower h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.details_lower p {
    padding: 1.5rem;
    text-align: justify;
    color: rgb(206, 204, 204);
    font-size: 0.9rem;
}

.details_image {
    max-width: 50%;
    height: auto;
}

.image_game {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.details_info {
    width: 50%;
    padding-left: 1.5rem;
}

.details_info p {
    font-size: 1rem;
    margin: 2rem 0;
    color: white;
}

.details_info p span {
    color: rgb(206, 204, 204);
}

.update_button {
    width: 120px;
    height: 50px;
    margin: 0.5rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: rgba(0, 196, 26, 0.5);
    border: 1px solid rgba(0, 211, 28, 0.5);
    cursor: pointer;
    transform: scale(0.8);
    transition: transform 0.2s ease-in-out;
}

.update_button:hover {
    background-color: rgba(0, 233, 31, 0.5);
    border: 1px solid rgba(1, 223, 30, 0.5);
    color: white;
    transform: scale(0.9);
}

.name_update {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}