.container_landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    margin: 0 20px;
    justify-content: center;
    z-index: 2;
}

.landing_title {
    font-size: 2.5rem;
    margin: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landing_text {
    font-size: 1.2rem;
    margin: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.landing_btn {
    width: 130px;
    height: 50px;
    margin: 5rem;
    border: 1px solid white;
    border-bottom: 5px solid white;
    border-radius: 5px;
    background-color: rgba(24, 24, 24, 0.5);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.landing_btn:hover {
    background-color: white;
    color: rgb(24, 24, 24);
    transition: 0.2s linear;
    transform: scale(1.1);
    border: 1px solid rgb(24, 24, 24);
}